page-feedback {
     .bg-feedback-image {
        background-color: #03041a;
		background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
        background-position: center;
        background-size : contain;
    } 

}
