page-aboutus {
.bg-about-image {
        background-color: #03041a;
        background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size : cover;
    } 
    .bg-about{
        // background-color: #03041a;
        // background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
        // background-position: center;
        // background-size : contain;
        
    }
}
